.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a:hover {
    color: #53c28b;
}

.logout {
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;   
    background-color: #53c28b;
    cursor: pointer;
    font-weight: bold;
}