.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.input {
    padding: 20px;
    border: 2px solid #bbb;
    background-color: transparent;
    color: #bbb;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.button {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

.button:hover {
    background-color: #49b07d;
}
